h1 {
  text-align: center;
  font-weight: 400;
}
.text {
  color: rgb(177, 177, 177);
}
.souduo {
  font-weight: 600;
}
.p1 {
  text-align: center;
  color: rgb(177, 177, 177);
}
a {
  text-decoration: none;
  color: cadetblue;
}
.p2 {
  text-indent: 2em;
  line-height: 20px;
}
.p3 {
  font-weight: 600;
}
.dic {
  text-align: center;
}
.footer {
  text-align: left;
  color: rgb(177, 177, 177);
  font-size: 12px;
}
